{% extends "../shared/_layout.jinja2" %}

{% block content %}
<div class="content">
  <h1>Index</h1>
    <div>
        Welcome to your account: {{request.user.name}}
    </div>
</div>
{% endblock content %}
