{% extends "../shared/_layout.jinja2" %}

{% block additional_css %}
    <link href="{{request.static_url('pypi:static/css/account.css')}}" rel="stylesheet">
{% endblock additional_css%}


{% block content %}
<div class="content">
  <div>
    <form action="" method="POST" class="account-form">
        <h1>Login</h1>
        <input name="email" type="email" placeholder=" Your email address" class="form-control" value="{{email}}"/>
        <input name="password" type="password" placeholder=" Password" class="form-control" value="{{password}}"/>
        <button type="submit" class="btn btn-success">Login</button>
        {% if error %}
            <div class="error-msg">
                {{error}}
            </div>
        {% endif %}
    </form>
    </div>
</div>
{% endblock content %}
